
/* widgets */
#CQ .ejst-customwidget-1 {
    width:100px;
    margin-top:4px;
}

#CQ .ejst-customwidget-2 {
    width:170px;
}

#CQ .ejst-customwidget-3 {
    width:170px;
}

#CQ .ejst-customwidget-4 {
    width:170px;
}

#CQ .ejst-customwidget-5 {
    width:170px;
}

