<div class="ge-clean-energy ge-anim f-meta-bold">
    <div class="scene1 dge-scene a-hide-all">
        <div class="a-text-container a-hide-all">
            <p class="a-first iebg">Cutting-edge technology and operational expertise from DuPont plays a critical role in the commercialization of the cellulosic ethanol industry.</p>
            <p class="a-second iebg">
                The
                <span></span>
                in Nevada, Iowa will be one of the largest, most advanced biorefineries in the US, supplying homegrown renewable fuel to the market made from corn stover.
            </p>
            <div class="a-border"></div>
        </div>
        <div class="a-image a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
    </div>
    <div class="scene2 dge-scene">
        <div class="a-text-container a-hide iebgall">
            <h3 class="a-static">Stover Harvest Collection Project</h3>
            <p class="a-static">This collaboration between DuPont, local farmers, and Iowa State University is creating a sustainable supply chain to ensure clean energy.</p>
            <p class="a-second a-static">The project helps farmers deploy better residue management practices to grow more corn, more profitably.</p>
        </div>
        
        <div class="a-image a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
    </div>
    <div class="scene3 dge-scene">
        <div class="a-text-container a-hide-all iebgall">
            <h3>Generating new jobs for rural America:</h3>
            <span class="a-person a-numbers"></span>
            <span class="a-five-hundred a-numbers"></span>
            <p class="a-farmers">local farmers will supply the corn stover</p>
            
            <span class="a-farm a-numbers"></span>
            <span class="a-one-thousand a-numbers"></span>
            <p class="a-collection">individuals are involved in the collection, transportation and storage of seasonal feedstock</p>
        </div>
        <div class="a-image a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
    </div>
    <div class="scene4 dge-scene">
        <div class="a-text-container a-hide-all iebgall">
            <h3>Generating new jobs for rural America:</h3>
            <span class="a-persons a-numbers"></span>
            <span class="a-seventy a-numbers"></span>
            <p class="a-permanent">permanent jobs at the plant, including operators, technical personnel and management</p>
            
            <span class="a-ball a-numbers"></span>
            <span class="a-one-thousand a-numbers"></span>
            <p class="a-construction">construction-related jobs, with a site workforce of over 35&deg; at its peak</p>
        </div>
        <div class="a-image a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
    </div>
    <div class="scene5 dge-scene">
        <div class="a-graphic a-hide">
            <div class="a-circle a-hide"></div>
            <div class="a-graphic-lines a-hide a-fit-parent"></div>
            <div class="a-mask a-triangle1 a-hide"></div>
            <div class="a-mask a-triangle2 a-hide"></div>
            <div class="a-truck a-hide">
                <div class="in-circle a-hide"></div>
            </div>
        </div>
        <div class="a-text-container a-hide-all">
            <p class="a-first iefix iebg">The biorefinery will be fueled by corn stover biomass harvested from a</p>
            <span class="a-miles iefix iebg"></span>
            <p class="a-second iefix">equal to</p>
            <span class="a-acres iefix iebg"></span>
        </div>
        <div class="a-image a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
    </div>
    <div class="scene6 dge-scene">
        <div class="a-bales a-hide-all">
            <div class="hay-bales-01 a-fit-parent"></div>
            <div class="hay-bales-02 a-fit-parent iebg iefix"></div>
        </div>
        <div class="a-corn a-text-container a-hide-all">
            <span class="iefix iebg"></span>
            <p class="iefix iebg">bales of corn stover will be used per year</p>
        </div>
        <div class="a-tanks a-hide-all">
            <div class="a-liquid a-fourth">
                <span class="a-base"></span>
                <span class="a-body"></span>
                <span class="a-top"></span>
            </div>
            <div class="a-liquid a-third">
                <span class="a-base"></span>
                <span class="a-body"></span>
                <span class="a-top"></span>
            </div>
            <div class="a-liquid a-second">
                <span class="a-base"></span>
                <span class="a-body"></span>
                <span class="a-top"></span>
            </div>
            <div class="a-liquid a-first">
                <span class="a-base"></span>
                <span class="a-body"></span>
                <span class="a-top"></span>
            </div>
            <div class="a-silos a-fit-parent"></div>
        </div>
        <div class="a-inventory a-text-container a-hide-all">
            <p class="a-first iefix">generating</p>
            <span class="iefix iebg"></span>
            <p class="a-second iefix iebg">of corn stover inventory per year</p>
        </div>
        <div class="a-image a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
    </div>
    <div class="scene7 dge-scene">
        <div class="a-factory a-hide-all">
            <div class="a-outline a-fit-parent"></div>
            <div class="a-mask-top a-mask"></div>
            <div class="a-mask-left a-mask"></div>
            <div class="a-mask-right a-mask"></div>
        </div>
        <div class="a-text-container a-hide-all">
            <span class="iefix"></span>
            <p class="a-static iefix">will be produced every year*</p>
        </div>
        <p class="a-note a-hide">*Completion expected in Q4 of 2014</p>
        <div class="a-gallons-container a-hide">
            <div class="a-all-gallons">
                <div class="a-single a-static"></div>
                <div class="a-single a-static"></div>
                <div class="a-single a-static"></div>
                <div class="a-single a-static"></div>
                <div class="a-single a-static"></div>
                <div class="a-single a-static"></div>
                <div class="a-single a-static"></div>
                <div class="a-single a-static"></div>
                <div class="a-single a-static"></div>
                <div class="a-single a-static"></div>
                <div class="a-single a-static"></div>
            </div>
            <div class="a-gallons gallon1 a-static"></div>
            <div class="a-mask"></div>
            <div class="a-gallons gallon2 a-static"></div>
            <div class="a-gallons gallon3 a-static"></div>
            <div class="a-gallons gallon4 a-static"></div>
            <div class="a-gallons gallon5 a-static"></div>
            <div class="a-gallons gallon6 a-static"></div>
            <div class="a-gallons gallon7 a-static"></div>
            <div class="a-gallons gallon8 a-static"></div>
            <div class="a-gallons gallon9 a-static"></div>
            <div class="a-gallons gallon10 a-static"></div>
            <div class="a-gallons gallon11 a-static"></div>
        </div>
        <div class="a-image a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
    </div>
    <h2>
        <span class="a-icon a-hide"></span>
        <span class="a-title a-hide"></span>
    </h2>
</div>