<div class="ge-solutions ge-anim f-meta-bold">
    <div class="scene1 dge-scene a-hide-all">
        <div class="a-intro a-text-container a-hide-all">
            <p class="a-first iebg">Through science, DuPont creates the innovative materials that help automakers build cleaner, energy-efficient cars without compromising performance, comfort or cost.</p>
            <p class="a-second iebg">
                DuPont offers over
                <span></span>
                that help the automotive industry deliver efficient vehicles and elevate the driving experience.
            </p>
            <div class="a-border"></div>
        </div>
        <div class="full-car-01 a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
    </div>
    <div class="scene2 dge-scene a-hide-div">
        <div class="full-car-02"></div>
        <div class="full-car-03"></div>
        <div class="full-car-04"></div>
        <div class="full-car-05"></div>
        <div class="full-car-06"></div>
        <div class="full-car-07"></div>
        <div class="full-car-08"></div>
        <div class="full-car-09"></div>
    </div>
    <div class="scene3 dge-scene a-hide-all">
        <div class="a-product iebg iebgall">
            <h3>DuPont<span class="a-sub">&trade;</span> Sorona<span class="a-sub">&reg;</span></h3>
            <p class="a-text a-static">DuPont<span class="a-sub">&trade;</span>Sorona<span class="a-sub">&reg;</span> is a leading biopolymer used in carpets in the passenger area and trunks of cars.</p>
        </div>
        <p class="a-choose">Choosing this product means:</p>
        <ul class="a-percentages a-text-container iebg iebgall">
            <li class="a-thirty">less energy is used during production</li>
            <li class="a-sexty">fewer greenhouse emissions compared to equivalents</li>
        </ul>
        <div class="a-thirty-seven a-text-container">
            <div class="a-percentage iebg"></div>
            <span>of Sorona contains renewable plant-based ingredients.</span>
        </div>
        <a class="a-learn-more" href="http://www.dupont.com/products-and-services/fabrics-fibers-nonwovens/fibers/brands/dupont-sorona.html">
            <span class="a-icon-right"></span>
            <span class="a-text">LEARN MORE ABOUT SORONA</span>
        </a>
        <div class="a-pedals a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
        <div class="a-leafs a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
        <div class="a-car-container iebg">
            <div class="car-outline-01 a-static iebg"></div>
        </div>
        <div class="car-carpet">
            <div class="a-carpet">
                <div class="a-green a-hide"></div>
            </div>
            <div class="a-ballon"></div>
        </div>
    </div>
    <div class="scene4 dge-scene">
        <div class="car-outline-06 a-car-outline"></div>
        <div class="car-outline-05 a-car-outline"></div>
        <div class="car-outline-04 a-car-outline"></div>
        <div class="car-outline-03 a-car-outline"></div>
        <div class="car-outline-02 a-car-outline"></div>
    </div>
    <div class="scene5 dge-scene a-hide-all">
        <div class="car-outline-09 a-car-outline"></div>
        <div class="car-outline-08 a-car-outline"></div>
        <div class="car-outline-07 a-car-outline"></div>
        <div class="gas-dispenser iefix"></div>
        <div class="a-raindrop">
            <div class="a-fuel-mask"></div>
        </div>
        <p class="a-fuel-paragraph iefix">higher fuel economy (more miles per gallon) than Ethanol—due to a higher energy density</p>
        <div class="a-water a-large-image">
            <div class="a-mask"></div>
            <div class="a-logo a-hide"></div>
            <div class="a-border"></div>
        </div>
        <div class="a-plant iefix"></div>
        <div class="butamax-paragraph iefix">
            <h3 class="iebg">DuPont<span class="a-sub">&trade;</span> Butamax<span class="a-sub">&trade;</span></h3>
            <p class="a-static">An advanced biofuel developed by DuPont and BP, biobutanol can be made from materials including corn, wheat, sugar cane and sugar beets. Biobutanol has an energy content closer to that of gasoline without compromising performance.</p>
        </div>
        <a class="a-learn-more" href="http://www.butamax.com/">
            <span class="a-icon-right"></span>
            <span class="a-text">LEARN MORE ABOUT BUTAMAX</span>
        </a>
    </div>
    <div class="scene6 dge-scene a-hide-div f-meta-bold">
        <div class="a-outline car-outline-08"></div>
        <div class="a-outline car-outline-07"></div>
        <div class="a-outline car-outline-06"></div>
        <div class="a-outline car-outline-05"></div>
        <div class="a-outline car-outline-04"></div>
        <div class="a-outline car-outline-03"></div>
        <div class="a-outline car-outline-02"></div>
        <div class="a-outline car-outline-half"></div>
        <div class="car-outline-half-02"></div>
        <div class="a-outline motor-green iefix"></div>
        <div class="a-first iefix">
            <h3 class="iebg">DuPont<span class="a-sub">&trade;</span> Zytel<span class="a-sub">&reg;</span> PLUS Nylon</h3>
            <p class="a-static">This product is a lightweight material used as a metal replacement.</p>
        </div>
        <div class="a-second iefix">
            <span class="gals275"></span>
            <p class="a-static">of gasoline can be saved a year by incorporating DuPont<span class="a-sub">&trade;</span> Zytel<span class="a-sub">&reg;</span> PLUS nylon into expected engine production in one year (or 83 million engines). All of this is achieved simply by reducing car weight.</p>
        </div>
        <a class="a-learn-more a-hide iefix" href="http://www.dupont.com/products-and-services/plastics-polymers-resins/thermoplastics/brands/zytel-nylon/products/zytel-plus-high-temperature-plastic.html">
            <span class="a-icon-right"></span>
            <span class="a-text">LEARN MORE ABOUT ZYTEL PLUS</span>
        </a>
        <div class="a-action a-hide-all">
            <div class="a-engine"></div>
            <div class="a-engine-mask"></div>
            <div class="a-ballon"></div>
            <a class="a-left"><span></span></a>
            <a class="a-right"><span></span></a>
            <p class="iefix iebg">360<span class="a-sub">&deg;</span> Rotate</p>
        </div>
    </div>
    <div class="scene7 dge-scene a-hide-div">
        <div class="wheel-outline-05"></div>
        <div class="wheel-outline-04"></div>
        <div class="wheel-outline-03"></div>
        <div class="wheel-outline-02"></div>
        <div class="wheel-outline-01 iebg"></div>
    </div>
    <div class="scene8 dge-scene a-hide-div">
        <div class="a-wheel a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
        <div class="a-logo a-hide"></div>
        <div class="wheel-outline-10"></div>
        <div class="wheel-outline-09"></div>
        <div class="wheel-outline-08"></div>
        <div class="wheel-outline-07"></div>
        <div class="wheel-outline-06"></div>
        <div class="a-tires iefix">
            <h3 class="iebg">DuPont<span class="a-sub">&trade;</span> BioIsoprene<span class="a-sub">&trade;</span> Tires<span>*</span></h3>
            <p class="a-static">Goodyear has partnered with DuPont to develop tires made from renewable materials unlike traditional tires made from isoprene.</p>
        </div>
        <a class="a-learn-more iefix a-hide" href="http://biosciences.dupont.com/about-us/collaborations/goodyear/">
            <span class="a-icon-right"></span>
            <span class="a-text">LEARN MORE ABOUT BIOLSOPRENE</span>
        </a>
        <div class="a-disclaimer iefix"><span class="dge-disclaimer">*</span><span>Still in Development</span></div>
    </div>
    <div class="scene9 dge-scene a-hide-div">
        <div class="wheel-outline-03"></div>
        <div class="wheel-outline-04"></div>
        <div class="wheel-outline-05"></div>
        <div class="wheel-outline-06"></div>
        <div class="wheel-outline-07"></div>
        <div class="wheel-outline-08"></div>
        <div class="wheel-outline-09"></div>
        <div class="wheel-outline-10"></div>
    </div>
    <div class="scene10 dge-scene a-hide-div">
        <div class="a-fibers a-large-image">
            <div class="a-mask"></div>
        </div>
        <div class="wheel-outline-01"></div>
        <div class="purple-car-motor iefix"></div>
        <div class="wheel-outline-02"></div>
        <div class="vamac-nomex iefix"> 
            <h3 class="iebg">DuPont<span class="a-sub">&trade;</span> Vamac<span class="a-sub">&reg;</span> AEM elastomer &amp; DuPont<span class="a-sub">&trade;</span> Nomex<span class="a-sub">&reg;</span> fibers</h3>
            <p class="a-static">Today's smaller, more efficient engines deliver more power. But their systems generate more heat and pressure. DuPont<span class="a-sub">&trade;</span> Vamac<span class="a-sub">&reg;</span> AEM elastomer and DuPont<span class="a-sub">&trade;</span> Nomex<span class="a-sub">&reg;</span> fibers stand up to demanding engine environments, offering significant performance and cost advantages. These advanced materials ensure the industry doesn't have to revert to heavier, more expensive metal components and systems that inhibit fuel economy and emissions reduction.</p>
        </div>
        <a class="a-learn-more a-hide iefix" href="http://www.dupont.com/industries/automotive/powertrain-engine-system.html">
            <span class="a-icon-right"></span>
            <span class="a-text">LEARN MORE ABOUT ENGINE EFFICIENCY</span>
        </a>
    </div>
    <div class="scene11 dge-scene a-hide-all">
        <div class="a-product iebg iefix">
            <h3 class="iebg">Electrification</h3>
            <p class="a-static">Electricity used to fully or partially power vehicles can significantly reduce CO2emissions and improve fuel economy.  Materials and polymer science play an increasingly critical role. DuPont is collaborating with customers, industrial partners and universities to develop new battery chemistries and materials for use in components and systems for safer, lighter, more cost-effective and energy-dense battery systems.</p>
        </div>
        <a class="a-learn-more iefix" href="http://www.dupont.com/industries/automotive/hybrid-electric.html">
            <span class="a-icon-right"></span>
            <span class="a-text">LEARN MORE ABOUT DUPONT SCIENCE IN ELECTRIC VEHICLES</span>
        </a>
        <div class="a-car a-hide-all">
            <div class="a-outline iebg"></div>
            <div class="a-engine"></div>
            <div class="a-arrows"></div>
        </div>
        <ul class="a-pointers iefix">
            <li class="a-first iehide iefix">Thermal management systems</li>
            <li class="a-second iehide iefix">Electric motor</li>
            <li class="a-third iehide iefix">Battery pack structures</li>
            <li class="a-forth iehide iefix">Battery pack cells</li>
        </ul>
    </div>
    <div class="scene12 dge-scene a-hide-div">
        <div class="car-outline-16"></div>
        <div class="car-outline-15"></div>
        <div class="car-outline-14"></div>
        <div class="car-outline-13"></div>
        <div class="car-outline-12"></div>
        <div class="car-outline-11"></div>
        <div class="car-outline-10"></div>
    </div>
    <div class="scene13 dge-scene a-hide-div">
        <div class="a-hose a-large-image">
            <div class="a-mask"></div>
        </div>
        <div class="a-car-outline"></div>
        <div class="car-escape"></div>
        <ul class="a-pointers a-hide">
            <li class="a-fuel iehide">Fuel system components</li>
            <li class="a-engine iehide">Engine components</li>
            <li class="a-lines iehide">Fuel lines and hoses</li>
        </ul>
        <div class="a-text">
            <h3 class="iebg">DuPont<span class="a-sub">&trade;</span> Zytel<span class="a-sub">&reg;</span> RS Nylon</h3>
            <p class="a-static">These materials are entirely or<br/>partially made of renewable, non-food based ingredients to create sustainable fuel lines and hoses.</p>
        </div>
        <a class="a-learn-more a-hide" href="http://www.dupont.com/products-and-services/plastics-polymers-resins/thermoplastics/brands/zytel-nylon/products/zytel-rs.html">
            <span class="a-icon-right"></span>
            <span class="a-text">LEARN MORE ABOUT ZYTEL RS NYLON</span>
        </a>
    </div>
    <h2>
        <span class="a-icon a-hide iebg"></span>
        <span class="a-title a-hide iebg"></span>
    </h2>
</div>