<div class="ge-local-sustainability ge-anim f-meta-bold">
    <div class="scene1 dge-scene a-hide-all">
        <div class="a-text-container a-hide-all">
            <p class="a-first iebg">DuPont is committed to delivering innovative technologies to promote sustainable methods of energy generation, food production and crop protection in communities around the world.</p>
            <p class="a-second a-second-appear iebg">The installation of a 200 kilowatt solar array on </p>
            <span class="a-harborview a-third a-second-appear iebg"></span>
            <p class="a-fourth a-second-appear iebg">exemplifies cutting-edge management practices and key collaborations between DuPont Photovoltaic Solutions, DuPont Pioneer, and DuPont Crop Protection.</p>
            <div class="a-border"></div>
        </div>
        <div class="a-image a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
    </div>
    <div class="scene2 dge-scene hide-div">
        <div class="a-text-container iebgall">
            <h3>Harborview Farms</h3>
            <p class="a-static">A 10,000+ acre farm on Maryland's Eastern Shore, Harborview produces corn, wheat and soybeans. The mission of Harborview Farms includes sustainable agriculture &ndash; particularly due to the location on the farm, near the fragile ecosystem of the Chesapeake Bay. Best management practices and integrated pest management are employed to ensure optimum productivity and protection of the environment while contributing to the restoration of the Chesapeake Bay.</p>
        </div>
        <div class="a-rock-hall-map"></div>
        <div class="a-rock-hall"></div>
        <div class="a-farm-truck"></div>
        <div class="a-image a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
    </div>
    <div class="scene3 dge-scene a-hide-div">
        <div class="a-text-container iebgall">
            <h3>Solar Power</h3>
            <p class="a-static">Harborview Farms is operated by the Hill family, who has received a congressional citation for their efforts to protect the Chesapeake Bay. The solar panels will aid in cutting down Harboview's dependency on fossil fuels and foreign oil. </p>
        </div>
        <div class="a-image a-large-image">
            <div class="a-mask"></div>
            <div class="a-border"></div>
        </div>
    </div>
    <div class="scene4 dge-scene a-hide-all">
        <div class="a-small-houses">
            <div class="a-mask-opacity"></div>
        </div>
        <div class="a-sun"></div>
        <div class="a-panel"></div>
        <div class="a-text-container iebgall">
            <p class="a-first line-1">At Harborview Farms,</p>
            <span class="kw-200 a-first"></span>
            <p class="a-first line-2">produced from</p>
            <span class="acre-solar-panel a-second"></span>
            <p class="a-second line-3">can power up to</p>
            <span class="homes-25 a-third"></span>
        </div>
    </div>
    <div class="scene5 dge-scene a-hide-all">
        <div class="panel-01"></div>
        <div class="panel-02 a-fit-parent"></div>
        <div class="panel-03 a-fit-parent"></div>
        <div class="panel-04 a-fit-parent"></div>
        <div class="panel-05 a-fit-parent"></div>
        <div class="panel-06 a-fit-parent"></div>
        <div class="panel-07 a-fit-parent"></div>
        <div class="panel-08 a-fit-parent"></div>
        <div class="panel-09 a-fit-parent"></div>
        <div class="panel-10 a-fit-parent"></div>
        <div class="panel-11 a-fit-parent"></div>
        <div class="panel-12 a-fit-parent"></div>
        <div class="panel-13 a-fit-parent"></div>
        <div class="a-encapsulant a-fit-parent a-hide-all">
            <div class="encapsulant-01 a-fit-parent"></div>
            <div class="encapsulant-02 a-fit-parent"></div>
            <div class="encapsulant-03 a-fit-parent"></div>
            <div class="encapsulant-04 a-fit-parent"></div>
        </div>
    </div>
    <div class="scene6 dge-scene a-hide-all">
        <div class="solar-panel-encapsulant-01"></div>
        <div class="solar-panel-encapsulant-02"></div>
        <div class="solar-panel-encapsulant-03"></div>
        <div class="solar-panel-encapsulant-04"></div>
        <div class="a-text-container iebgall">
            <h3>DuPont<span class="a-sub">&trade;</span> PV Encapsulants</h3>
            <p class="a-static">These products have proven durability,  delivering long-term protection to the most sensitive portions of PV modules.</p>
        </div>
        <a class="a-learn-more" href="http://www2.dupont.com/Photovoltaics/en_US/products_services/encapsulant/index.html">
            <span class="a-icon-right"></span>
            <span class="a-text">LEARN MORE ABOUT IONOMER ENCAPSULANTS</span>
        </a>
        <div class="a-arrow-container">
            <div class="a-arrow a-fit-parent"></div>
        </div>
        
        <div class="a-pointers">
            <p class="a-fit-parent">
                <span class="a-line">DuPont<span class="a-sub">&trade;</span> Elvax<span class="a-sub">&reg;</span> PV EVA resins</span>
                <span class="a-line">DuPont<span class="a-sub">&trade;</span> PV5200 Series encapsulant sheets</span>
                <span class="a-line">DuPont<span class="a-sub">&trade;</span> PV5300 Series encapsulant sheets</span>
                <span class="a-line">DuPont<span class="a-sub">&trade;</span> PV5400 Series encapsulant sheets</span>
                <span class="a-line">DuPont<span class="a-sub">&trade;</span> PV8600 Series encapsulant sheets</span>
            </p>
        </div>
    </div>
    <div class="scene7 dge-scene a-hide-all">
        <div class="a-text-container iebgall">
            <h3>Photovoltaic Metallizations</h3>
            <p class="a-static">DuPont<span class="a-sub">&trade;</span> Solamet<span class="a-sub">&reg;</span> photovoltaic metallizations have doubled solar cell efficiency over the last 12 years, increasing power output from solar panels.</p>
        </div>
        <a class="a-learn-more" href="http://www2.dupont.com/Photovoltaics/en_US/products_services/metallization/solamet.html">
            <span class="a-icon-right"></span>
            <span class="a-text">LEARN MORE ABOUT SOLAMET</span>
        </a>
        <div class="a-arrow-container">
            <div class="a-arrow a-fit-parent"></div>
        </div>
        <div class="a-pointers">
            <p class="a-fit-parent">DuPont<span class="a-sub">&trade;</span> Solamet<span class="a-sub">&reg;</span> photovoltaic metallizations</p>
        </div>
    </div>
    <div class="scene8 dge-scene a-hide-all">
        <div class="a-text-container iebgall">
            <h3>Thin Film Substrates and Superstrates</h3>
            <p class="a-static">DuPont<span class="a-sub">&trade;</span> Kapton<span class="a-sub">&reg;</span> polyimide films make for significantly thinner and lighter-weight flexible modules that are easier to handle and less expensive to install than rigid glass CdTe systems.</p>
        </div>
        <a class="a-learn-more" href="http://www2.dupont.com/Kapton/en_US/index.html">
            <span class="a-icon-right"></span>
            <span class="a-text">LEARN MORE ABOUT KAPTON</span>
        </a>
        <div class="a-arrow-container">
            <div class="a-arrow a-fit-parent"></div>
        </div>
        <div class="a-pointers">
            <p class="a-fit-parent">DuPont<span class="a-sub">&trade;</span> Kapton<span class="a-sub">&reg;</span> polyimide films</p>
        </div>
    </div>
    <div class="scene9 dge-scene a-hide-all">
        <div class="a-text-container iebgall">
            <h3>Backsheet materials</h3>
            <p class="a-static">DuPont<span class="a-sub">&trade;</span> Tedlar<span class="a-sub">&reg;</span> polyvinyl fluoride (PVF) Films have provided 30 years of proven durability and reliability for solar <br /> panels exposed to the harshest outdoor conditions.</p>
        </div>
        <a class="a-learn-more" href="http://www2.dupont.com/Photovoltaics/en_US/products_services/backsheet/tedlarPVF.html">
            <span class="a-icon-right"></span>
            <span class="a-text">LEARN MORE ABOUT TEDLAR</span>
        </a>
        <div class="a-arrow-container">
            <div class="a-arrow a-fit-parent"></div>
        </div>
        <div class="a-pointers">
            <p class="a-fit-parent">DuPont<span class="a-sub">&trade;</span> Tedlar<span class="a-sub">&reg;</span> Polyvinyl Fluoride (PVF) films</p>
        </div>
    </div>
    <h2 class="iebgall">
        <span class="a-icon a-hide"></span>
        <span class="a-title a-hide"></span>
    </h2> 
</div>